#fskMain {
    font-family: Arial, Helvetica, sans-serif;
}

h1.sds-h1 {
    font-size: 30px;
    font-weight: 500;
}

h3.sds-h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
}

h3.sds-h3-no-margin {
    font-size: 18px;
    font-weight: 500;
}

h5.sds-h5 {
    font-size: 15px;
    font-weight: 500;
}

label.sds-label {
    font-size: 14px;
}

.sds-title {
    background-color: #005a8d;
    color: white;
    border-radius: 4px;
    margin: 0 16px 8px 16px;
}

p.sds-p {
    font-size: 14px;
    margin-bottom: 8px;
}

p.sds-quote {
    font-size: 16px;
    font-style: italic;
}

p.sds-quoted-by {
    font-size: 16px;
    color: #222;
    font-weight: 500;
}

p.sds-quoted-by:before {
    content: "-----";
    background-color: #bfe600;
}

.sds-primary-color {
    color: #005a8d;
}

.sds-secondary-color {
    color: #007ec5;
}

.sds-dark-blue-color {
    color: #405b6b;
}

.sds-green-color {
    color: #bfe600;
}

.sds-white-color {
    color: #f6f5f0;
}

.sds-black-color {
    color: #222;
}

.sds-grey-color {
    color: #888;
}

.sds-light-grey-color {
    color: #f2f4f6;
}

a.sds-link {
    color: #007ec5;
}

a.sds-link:before {
    content: ">";
    color: #007ec5;
}

button.sds-button {
    min-width: 64px;
    height: 36px;
    line-height: 32px;
    border-radius: 4px;
    color: white;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 8px;
    cursor: pointer;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
}

button.sds-button.primary {
    background-color: #005a8d;
}

button.sds-button.primary:hover {
    background-color: #00517F;
}

button.sds-button.primary:active {
    background-color: #004870;
}

button.sds-button.danger {
    background-color: #dc3545;
}

button.sds-button.danger:hover {
    background-color: #C6303E;
}

button.sds-button.danger:active {
    background-color: #C62A38;
}

button.sds-outline-button {
    min-width: 64px;
    height: 36px;
    line-height: 32px;
    border-radius: 2px;
    border: 2px solid #888;
    background-color: white;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 8px;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
}

button.sds-outline-button.primary {
    border-color: #005a8d;
    color: #005a8d;
}

button.sds-outline-button.primary:hover {
    background-color: #005a8d;
    color: white;
}

button.sds-outline-button.primary:active {
    background-color: #004870;
    border-color: #004870;
    color: white;
}

button.sds-outline-button.danger {
    border-color: #ff3547;
    color: #ff3547;
}

button.sds-outline-button.danger:hover {
    background-color: #ff3547;
    color: white;
}

button.sds-outline-button.danger:active {
    background-color: #CC2A39;
    border-color: #CC2A39;
    color: white;
}

.limited-access-panel {
    transition: opacity .35s ease;
    overflow: hidden;
    opacity: 1;
}

.limited-access-panel[aria-hidden="true"] {
    padding: 0 0 0 16px;
    opacity: 0;
}

.full-access-panel {
    transition: opacity .35s ease;
    overflow: hidden;
    opacity: 1;
}

.full-access-panel[aria-hidden="true"] {
    padding: 0 0 0 16px;
    opacity: 0;
}

.treatment-will-panel-container {
    padding: 8px 16px 16px 16px;
    height: 124px;
    overflow: hidden;
    opacity: 1;
}

.treatment-will-panel-container[aria-hidden="true"] {
    padding: 0 0 0 16px;
    margin-bottom: 0;
    height: 0;
    opacity: 0;
}

.treatment-will-panel-col-12 {
    min-height: 32px;
    padding: 0 8px;
}

.col-25-px {
    position: relative;
    min-height: 1px;
    width: 25px;
    float: left;
}

.organ-donor-panel {
    border: 1px solid #005a8d;
    margin: 0 16px;
    border-radius: 4px;
    padding-right: 33%;
}

.sds-line {
    border-bottom: 1px solid #007ec5;
    padding-top: 8px;
}

.fsk-warning {
    color: #852d12;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    background-color: #ffddd3;
    border-radius: 4px;
}

.fsk-warning-header {
    font-size:22px;
    font-family: sans-serif;
    margin-bottom: 8px;
    font-weight: 500;
}