h1.sds-h1 {
    font-size: 30px;
    font-weight: 600;
}

h3.sds-h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
}

h5.sds-h5 {
    font-size: 15px;
    font-weight: 600;
}

p.sds-p {
    font-size: 14px;
}

p.sds-quote {
    font-size: 16px;
    font-style: italic;
}

p.sds-quoted-by {
    font-size: 16px;
    color: #222;
    font-weight: 600;
}

p.sds-quoted-by:before {
    content: "-----";
    background-color: #bfe600;
}

.sds-primary-color {
    color: #005a8d;
}

.sds-secondary-color {
    color: #007ec5;
}

.sds-dark-blue-color {
    color: #405b6b;
}

.sds-green-color {
    color: #bfe600;
}

.sds-white-color {
    color: #f6f5f0;
}

.sds-black-color {
    color: #222;
}

.sds-grey-color {
    color: #888;
}

.sds-light-grey-color {
    color: #f2f4f6;
}

a.sds-link {
    color: #007ec5;
}

a.sds-link:before {
    content: ">";
    color: #007ec5;
}

button.sds-outline-button {
    min-width: 64px;
    height: 36px;
    line-height: 32px;
    border-radius: 2px;
    border: 2px solid #888;
    background-color: white;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 8px;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
}

button.sds-outline-button.primary {
    border-color: #005a8d;
    color: #005a8d;
}

button.sds-outline-button.primary:hover {
    background-color: #005a8d;
    color: white;
}

button.sds-outline-button.primary:active {
    background-color: #004870;
    border-color: #004870;
    color: white;
}

button.sds-outline-button.danger {
    border-color: #ff3547;
    color: #ff3547;
}

button.sds-outline-button.danger:hover {
    background-color: #ff3547;
    color: white;
}

button.sds-outline-button.danger:active {
    background-color: #CC2A39;
    border-color: #CC2A39;
    color: white;
}

.limited-access-panel {
    transition: height 0.25s;
    width: 540px;
    height: 90px;
    transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
    overflow: hidden;
}

.limited-access-panel[aria-hidden] {
    height: 0;
    display: block;
    padding:0;
}

.full-access-panel {
    transition: height 0.25s;
    height: 25px;
    transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
    overflow: hidden;
}

.full-access-panel[aria-hidden] {
    height: 0;
    display: block;
    padding:0;
}

.treatment-will-panel {
    transition: height 0.25s;
    height: 110px;
    transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
    overflow: hidden;
}

.treatment-will-panel[aria-hidden] {
    height: 0;
    display: block;
    padding:0;
}